body{
    font-family:'Times New Roman', Times, serif;
  }
    #progress-container1, #progress-container2, #progress-container3, #progress-container4, #progress-container5{
    position: absolute;
    bottom: 35px;
    transform: translateX(-50%);
    width: 50px;
    height: 60%;
    background-color: #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  

  #progress-bar1, #progress-bar2, #progress-bar3, #progress-bar4, #progress-bar5 {
    width: 100%;
    border-radius: 5px;
  } 

  
  #progress-bar-text1, #progress-bar-text2, #progress-bar-text3, #progress-bar-text4 , #progress-bar-text5{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: white;
  } 

  #progress-container1 {
    left: 20%;
    }
  #progress-container2 {
    left: 35%;
    }
  #progress-container3 {
    left: 50%;
    }
  #progress-container4 {
    left: 65%;
    }
  #progress-container5 {
    left: 80%;
    }
  
  #progress-bar1 {
    background-color: #6fd4ff;
  }
  #progress-bar2 {
    background-color: #f28fff;
  }
  #progress-bar3 {
    background-color: #6fff85;
  }
  #progress-bar4 {
    background-color: #ff8f8f;
  }
  #progress-bar5 {
    background-color: #6bffe4;
  }
  #progress-bar-indicator {
  
    position: absolute;
    bottom: -20px;
    left: -15%;
    width: 130%;
    text-align: center;
  }
  #text{
    display: block;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);      
    padding: 10px;
    /* border: 1px solid white; */
    border-radius: 8px;  
  }
  